<h1>TASK</h1>
<h2>Часть 1:</h2>
<pre>
  <del>блог</del>
  <del>админ, юзеры(админ может давать/забирать права юзерам)</del>
  <del>юзер создает посты</del>
  <del>юзер лайкает посты других юзеров</del>
  <del>юзер подписывается на посты других юзеров</del>
  <del>юзер удаляет свои посты</del>
  <del>админ удаляет посты всех</del>
  <del>админ забирает/возвращает права юзера на создание постов</del>
  <del>аутентификация(facebook, twitter) без devise!!!</del><b>(works only with lvh.me domain!!!!!)</b>
  <del>session storage - cookies</del>
</pre>
<h2>
  Доработки по первой части:
</h2>
<pre>
  - <del>AdminsController - вынести в app/controllers/admin/users_controller</del>
  -- <del>по поводу AdminsController#change_role, AdminsController#change_status :</del>
      <del>1. посмотри еще раз на эти экшены и вспомни о DRY и CRUD</del>
      <del>2. я хочу чтобы это было Edit экшеном</del>
  - <del>Если ты сейчас читаешь RUSRails - загляни в раздел strong parameteers и сделай соответственные правки</del>
  - <del>PostController#like, #unlike —> смотри замечания выше</del>
  - <del>SessionsController#create_social —> #create - идея в том что ты “создаешь”! а что именно ты создаешь выносится из контроллера в другое место и с этим ты должен разобраться сам</del>
  - <del>UsersContriller —> #follow, #unfollow, #feed —> опять таки смотри DRY и CRUD</del>
  - <del>По модели Like, теперь я хочу дизлайк. модель Dislike  - решение не годится. Вдохновись гемом acts_as_votable, и не используя его сделай решение для лайков и дизлайков</del>
</pre>
