<h1>Часть 1:</h1>
<pre>
  <del>блог</del>
  <del>админ, юзеры(админ может давать/забирать права юзерам)</del>
  <del>юзер создает посты</del>
  юзер лайкает посты других юзеров
  юзер подписывается на посты других юзеров
  <del>юзер удаляет свои посты</del>
  <del>админ удаляет посты всех</del>
  <del>админ забирает/возвращает права юзера на создание постов</del>
  аутентификация(facebook, twitter) без devise!!!
  <del>session storage - cookies</del>
</pre>
