<div id="show_post">
  <%= render @post %>
</div>

<% if logged_in? && (current_user == @post.user or current_user.admin?) %><p>
  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
</p><% end %>
