<%= link_to "Back to #{@resource.class.to_s.downcase}", @resource %>

  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= link_to image_tag(@resource.image.file.panorama.url), @resource.image.file.url %>
        </div>
        <div class="show_votes">
          <%= render partial: 'votes', locals: { resource: @resource } %>
        </div>
      </div>
    </div>
  </div>
